block config
	-
		var titulo = "Encuentra aqui los mejores c칩cteles"
		var keywords = "cocktails, bebidas"
		var descripcion = "Puedes encontrar aqui variadades en c칩cteles"
		var sitio = "Cocktails - Los mejores c칩cteles"
		var paginaActual = "home"

		var autor= "Aldair Orme침o"

		var path_favicon= '/assets/images/favicon.ico'
		var theme_color = '#1d000d'
